.display-flex {
    display: flex;
    flex-wrap: nowrap;
    &.wrap {
        flex-wrap: wrap;
    }
    &.nowrap {
        flex-wrap: nowrap;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.right {
        justify-content: flex-end;
    }
    &.left {
        justify-content: flex-start;
    }
    &.center {
        justify-content: center;
    }
    &.column {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.align-center {
        align-items: center;
    }
    &.align-right {
        justify-content: flex-end;
    }
    &.display-mobile {
        @media (max-width: $min-width) {
            display: block;
        }
    }
    &.row-reverse {
        flex-direction: row-reverse;
    }
    &.column-reverse {
        flex-direction: column-reverse;
    }
    &.overflow-y {
        overflow-y: auto;
        white-space: nowrap;
        @include transparantScrollBarHover();
    }
}

.display-popup-normal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.display-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background-color: rgba($color: #000000, $alpha: 0.4);
    // overflow-y: auto;
    @media (max-width: $min-width) {
        position: fixed;
        width: 100%;
        height: auto;
        top: unset;
        bottom: 0;
    }
}

.column-6 {
    width: calc(100% / 6);
    @media (max-width: $min-width) {
        width: 100%;
    }
}

.column-5 {
    width: calc(100% / 5);
    @media (max-width: $min-width) {
        width: 100%;
    }
}

.column-4 {
    width: calc(100% / 4);
    @media (max-width: $min-width) {
        width: 100%;
    }
}

.column-3 {
    width: calc(100% / 3);
    @media (max-width: $min-width) {
        width: 100%;
    }
}

.column-2 {
    width: calc(100% / 2);
    @media (max-width: $min-width) {
        width: 100%;
    }
}

.fixed-column-6 {
    width: calc(100% / 6);
}

.fixed-column-5 {
    width: calc(100% / 5);
}

.fixed-column-4 {
    width: calc(100% / 4);
}

.fixed-column-3 {
    width: calc(100% / 3);
}

.fixed-column-2 {
    width: calc(100% / 2);
}

.mobile-column-6 {
    @media (max-width: $min-width) {
        width: calc(100% / 6);
    }
}

.mobile-column-5 {
    @media (max-width: $min-width) {
        width: calc(100% / 5);
    }
}

.mobile-column-4 {
    @media (max-width: $min-width) {
        width: calc(100% / 4);
    }
}

.mobile-column-3 {
    @media (max-width: $min-width) {
        width: calc(100% / 3);
    }
}

.mobile-column-2 {
    @media (max-width: $min-width) {
        width: calc(100% / 2);
    }
}

.mobile-column {
    @media (max-width: $min-width) {
        width: 100%;
    }
}

.column-margin {
    margin: 0 20px;
    @media (max-width: $min-width) {
        margin: 0;
    }
}