$font_path: './fonts/';

//fonts
@font-face {
	font-family: "Graphik";
    src: url($font_path + "Graphik/Graphik-Regular.ttf");
}
@font-face {
	font-family: "GraphikLight";
    src: url($font_path + "Graphik/Graphik-Light.ttf");
}
@font-face {
	font-family: "GraphikThin";
    src: url($font_path + "Graphik/Graphik-Thin.ttf");
}
@font-face {
	font-family: "GraphikSuper";
    src: url($font_path + "Graphik/Graphik-Super.ttf");
}
@font-face {
	font-family: "GraphikSemibold";
    src: url($font_path + "Graphik/Graphik-Semibold.ttf");
}
@font-face {
	font-family: "GraphikMedium";
    src: url($font_path + "Graphik/Graphik-Medium.ttf");
}
@font-face {
	font-family: "GraphikExtralight";
    src: url($font_path + "Graphik/Graphik-Extralight.ttf");
}
@font-face {
	font-family: "GraphikBold";
    src: url($font_path + "Graphik/Graphik-Bold.ttf");
}
@font-face {
	font-family: "GraphikBlack";
    src: url($font_path + "Graphik/Graphik-Black.ttf");
}

//animation
@mixin animate_1() {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

@mixin animate_2() {
	-webkit-transition: all .35s cubic-bezier(0,1,0.5,1);
		-moz-transition: all .35s cubic-bezier(0,1,0.5,1);
		 -ms-transition: all .35s cubic-bezier(0,1,0.5,1);
		  -o-transition: all .35s cubic-bezier(0,1,0.5,1);
		     transition: all .35s cubic-bezier(0,1,0.5,1);
}

@mixin animate_none() {
	-webkit-transition: all 0 cubic-bezier(0,0,0,0);
		-moz-transition: all 0 cubic-bezier(0,0,0,0);
		 -ms-transition: all 0 cubic-bezier(0,0,0,0);
		  -o-transition: all 0 cubic-bezier(0,0,0,0);
		     transition: all 0 cubic-bezier(0,0,0,0);
}


// width
$max-width: 1200px;
$min-width: 720px;
$micro-width: 500px;

// color
$main-color: #FB3640;
$placeholder-color: #fce1e1;
$primary-color: #151f2d;
$sekunder-color: #ededf1;
$tertiary-color: #ff6437;

$grey: #555;
$light-grey: #999;
$tiny-grey: rgba(0,0,0,0.1);
$white-grey: #ededf1;
$black: #151f2d;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// shadow
$shadow: 3px 6px 18px $white-grey;
$shadow-bold: 3px 6px 18px $tiny-grey;

// border
$border: 1px solid $tiny-grey;

// position
//position
@mixin post_none() {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
}
@mixin post_fixed() {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $txt-sek-color;
	z-index: 300;
}
@mixin post_top($path) {
	position: $path;
    top: 50%;
    left: 0;
	-webkit-transform: translate(0, -50%);
	   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
}
@mixin post_bottom($path) {
	position: $path;
    bottom: 0;
    left: 50%;
	-webkit-transform: translate(-50%, 0);
	   -moz-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		     -o-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
}
@mixin post_middle($path) {
	position: $path;
    top: 0;
    left: 50%;
	-webkit-transform: translate(-50%, 0);
	   -moz-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		     -o-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
}
@mixin post_center($path) {
    position: $path;
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
}

.post-middle {
	@include post_center(relative);
}
.post-middle-absolute {
	@include post_center(absolute);
}

.post-center {
	@include post_top(relative);
}

.post-top {
	@include post_top(relative);
}

.bg-main {
    background-color: $main-color !important;
}

.bg-white {
    background-color: #fff !important;
}

.cursor-pointer {
	cursor: pointer;
}

// scrollbar
@mixin transparantScrollBar() {
    // normal
    &::-moz-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0);
    }
    &::-moz-scrollbar-thumb {
        background-color: rgba(0,0,0,0.3);
        -moz-border-radius: 1ex;
        border-radius: 1ex;
    }
    &::-moz-scrollbar-corner {
        background-color: #fff;
    }

    // webkit
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.3);
        -webkit-border-radius: 1ex;
        border-radius: 1ex;
    }
    &::-webkit-scrollbar-corner {
        background-color: #fff;
    }
}

@mixin transparantScrollBarHover() {
    
    &::scrollbar {
        width: 0;
        height: 6px;
        background-color: rgba(0, 0, 0, 0);
    }
    &::scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 1ex;
        border-radius: 1ex;
    }
    &::scrollbar-corner {
        background-color: #fff;
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 6px;
        background-color: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
        -webkit-border-radius: 1ex;
        border-radius: 1ex;
    }
    &::-webkit-scrollbar-corner {
        background-color: #fff;
    }

    &::-moz-scrollbar {
        width: 0;
        height: 6px;
        background-color: rgba(0, 0, 0, 0);
    }
    &::-moz-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
        -moz-border-radius: 1ex;
        border-radius: 1ex;
    }
    &::-moz-scrollbar-corner {
        background-color: #fff;
    }

    &:hover {
        &::scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-moz-scrollbar {
            width: 6px;
        }

        &::scrollbar-thumb {
            @include animate_1();
            background-color: rgba(0, 0, 0, 0.3);
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            @include animate_1();
            background-color: rgba(0, 0, 0, 0.3);
            width: 6px;
        }
        &::-moz-scrollbar-thumb {
            @include animate_1();
            background-color: rgba(0, 0, 0, 0.3);
            width: 6px;
        }
    }
}

@mixin greyScrollBar() {
    &::scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &::scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 1ex;
        border-radius: 1ex;
    }
    &::scrollbar-corner {
        background-color: #fff;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 1ex;
        border-radius: 1ex;
    }
    &::-webkit-scrollbar-corner {
        background-color: #fff;
    }

    &::-moz-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &::-moz-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 1ex;
        border-radius: 1ex;
    }
    &::-moz-scrollbar-corner {
        background-color: #fff;
    }
}

.change-scrollbar {
    @include transparantScrollBarHover();
    scroll-behavior: smooth;
    overflow-y: overlay;
}

.change-scrollbar-normal {
    @include greyScrollBar();
    scroll-behavior: smooth;
    overflow-y: overlay;
}
